.gridContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .gridContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}